body {background-color: lightgray;}

.active {
  background-color: #8A2BE2;
}
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #8A2BE2;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #FFEBCD;
}

.dropdown:hover .dropdown-content {
  display: block;
}
#train {
    position: relative;
    cursor: pointer;
  }
#brick {
width: 40px;
height: 20px;
background: #e25094;
position: relative;
cursor: pointer;
}

#path {
outline: 1px solid #99105b;
width: 540px;
height: 20px;
}
textarea {
    display: block;
    border: 1px solid #BBB;
    color: #444;
    font-size: 110%;
  }
  
  button {
    margin-top: 10px;
  }
  .myDiv {
	font-family: "Courier New";
	font-size: 50px;
}